In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [7]:
data= pd.read_csv('exam.csv')

In [8]:
data

   5me  guide result
0    0      0   fail
1    1      1   pass
2    1      0   pass
3    0      0   fail
4    0      0   fail
5    1      1   pass
6    0      1   fail
7    1      1   pass
8    1      0   fail
9    1      1   pass

In [9]:
data.result.value_counts()

fail    5
pass    5
Name: result, dtype: int64

In [12]:
entropy_result = -(5/10)*np.log2(5/10)-(5/10)*np.log2(5/10)
entropy_result

1.0

In [13]:
#data[data.5me == 'pass']

In [17]:
data.rename(columns={'5me':'yt'}, inplace=True)

In [18]:
data

   yt  guide result
0   0      0   fail
1   1      1   pass
2   1      0   pass
3   0      0   fail
4   0      0   fail
5   1      1   pass
6   0      1   fail
7   1      1   pass
8   1      0   fail
9   1      1   pass

In [19]:
data[data.yt==1]

   yt  guide result
1   1      1   pass
2   1      0   pass
5   1      1   pass
7   1      1   pass
8   1      0   fail
9   1      1   pass

In [22]:
entropy_results_yt_yes =-(5/6)*np.log2(5/6)-(1/6)*np.log2(1/6)
entropy_results_yt_yes

0.6500224216483541

In [23]:
data[data.yt==0]

   yt  guide result
0   0      0   fail
3   0      0   fail
4   0      0   fail
6   0      1   fail

In [24]:
yt_entropy =(6/10 * entropy_results_yt_yes + (4/10) * 0)
yt_entropy

0.39001345298901247

In [26]:
info_yt = entropy_result - (6/10) * entropy_results_yt_yes -  (4/10) * 0
info_yt

0.6099865470109875

In [27]:
data[data.guide ==1]

   yt  guide result
1   1      1   pass
5   1      1   pass
6   0      1   fail
7   1      1   pass
9   1      1   pass

In [28]:
entropy_results_guide_yes = -(4/5)*np.log2(4/5) -(1/5)*np.log2(1/5)
entropy_results_guide_yes

0.7219280948873623

In [29]:
data[data.guide == 0]

   yt  guide result
0   0      0   fail
2   1      0   pass
3   0      0   fail
4   0      0   fail
8   1      0   fail

In [30]:
entropy_results_guide_no = -(1/5)*np.log2(1/5) -(4/5)*np.log2(4/5)
entropy_results_guide_no

0.7219280948873623

In [33]:
guide_entropy = (5/10) * entropy_results_guide_yes +  (5/10) * entropy_results_guide_no
guide_entropy

0.7219280948873623

In [34]:
info_guide = entropy_result - guide_entropy
info_guide

0.2780719051126377

In [35]:
print(info_yt)

0.6099865470109875

In [36]:
print(info_guide)

0.2780719051126377

In [38]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df = data
df.result = le.fit_transform(df.result)
df

   yt  guide  result
0   0      0       0
1   1      1       1
2   1      0       1
3   0      0       0
4   0      0       0
5   1      1       1
6   0      1       0
7   1      1       1
8   1      0       0
9   1      1       1

In [39]:
x = df[['yt','guide']]
y = df['result']

In [40]:
from sklearn.tree import DecisionTreeClassifier, export_graphviz

In [41]:
dt = DecisionTreeClassifier(criterion='entropy')

In [42]:
dt.fit(x,y)

DecisionTreeClassifier(criterion='entropy')

In [43]:
export_graphviz(dt,'dt.tree',feature_names=['yt','guide'])

In [44]:
dt.predict([[1,1]])

C:\Users\mange\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1])

In [45]:
dt.score(x,y)

0.9